/* https://developer.gnome.org/gtk3/stable/GtkStyleContext.html */

/* MENU */
menu {
color:#c4c4c4;
background-color: #262626;
}

separator {
background-color: #202020;
border:10px solid #202020;
}

menuitem:hover {
background-color: #4a4a4a;
color:#ffffff;
font-weight: bolder;
}

/* DIALOGS */

messagedialog {
color:#c4c4c4;
background-color: #262626;
}

button {
background: #262626;
color:#c4c4c4;
border:0;
box-shadow:none;
}

button:hover {
background: #4a4a4a;
color:#ffffff;
font-weight: bolder;
}